html {
  --darkest-text-color: var(--pms-grey-700);
}

textarea, input:not([type="button"]), select {
  width: 100%;
}

.flex {
  flex: 1 1 auto;
}

.dropdown-item {
  display: inline-flex;
  align-items: center;
}

.dropdown-item svg {
  margin-right: 5px;
}

.btn-primary {
  background-color: var(--pms-accent-color-primary, #07619e) !important;
}

.btn-success {
  background-color: var(--pms-accent-color-success, #3c763d) !important;
}


/* 'lg' 'xs' 'sm', '1x', '2x', '3x', '4x', '5x', '6x', '7x', '8x', '9x', '10x'*/

svg.fa-10x {
  width: .8rem;
  height: .8rem;
}

svg.fa-9x {
  width: .9rem;
  height: .9rem;
}

svg.fa-8x {
  height: 1rem;
  width: 1rem;
}

svg.fa-7x {
  height: 1.1rem;
  width: 1.1rem;
}

svg.fa-6x {
  height: 1.2rem;
  width: 1.2rem;
}

svg.fa-5x {
  height: 1.3rem;
  width: 1.3rem;
}

svg.fa-4x {
  height: 1.4rem;
  width: 1.4rem;
}

svg.fa-3x {
  height: 1.5rem;
  width: 1.5rem;
}
