<script type="text/html" id="survey-question-multipletext">
    <table class="multipletext_table" data-bind="css: question.koCss().root, foreach: { data:  question.koRows, as: 'row' }">
        <tr data-bind="foreach: { data: row, as: 'item' }, css: question.koCss().row">
            <td data-bind="css: question.koCss().itemTitle">
                <div style="display: flex">
                    <!-- ko if: question.showItemSequence -->
                        <span data-bind="text: item.sequence + '. ', attr: { 'style': question.sequenceStyle }"></span>
                    <!-- /ko -->
                    <!-- ko template: { name: 'survey-string', data: item.locTitle } --><!-- /ko -->
                </div>
            </td>
            <td>
                <!-- ko template: { name: 'survey-question-errors', data: item.editor } -->
                <!-- /ko -->
                <!-- ko template: { name: item.editor.koTemplateName(), data: item.editor, as: 'question' } -->
                <!-- /ko -->
            </td>
        </tr>
    </table>
</script>